* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #090E22 ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ccc;
}
